<template>
  <div id="New-Comment">
    <div id="commentsInput">
      <input
        type="date"
        maxlength="10"
        placeholder="00/00/0000"
        id="comment-date"
        v-model="comment.commentDate"
      />
      <input
        maxlength="80"
        placeholder="New comment..."
        id="new-comment"
        v-model="comment.commentDetails"
      />
    </div>
    <div class="buttonsBox">
      <button class="return" @click="goHome">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button class="post" @click="sendData">
        <i class="fas fa-save"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddComments",
  props: {
    idContact: { objecttype: String, required: true }
  },
  data() {
    return {
      comment: {
        idContact: this.idContact,
        commentDate: null,
        commentDetails: null
      }
    };
  },
  methods: {
    sendData() {
      this.$emit("save-comment-event", this.comment);
    },
    goHome() {
      this.$emit("go-back-to-comment-details-screen-event");
    }
  }
};
</script>

<style scoped>
#commentsInput {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  font-family: sans-serif;
  font-size: 9px;
  text-align: left;
  padding: 4em;
  letter-spacing: 1px;
  color: rgb(83, 83, 83);
  border-radius: 10px;
  background: #e1ecf2;
  box-shadow: 30px 30px 59px #c8d2d7, -30px -30px 59px #faffff;
  margin: 10rem 25rem 3rem 25rem;
}
button {
  border-style: none;
  margin: 5rem 8rem;
  border-radius: 50px;
  padding: 1rem;
  border-radius: 10px;
  background: #e1ecf2;
  box-shadow: 6px 6px 11px #c8d2d7, -6px -6px 11px #faffff;
}
button:focus {
  outline: none;
}
.fa-chevron-left {
  padding: 0px 0.3rem;
}
.fa-chevron-left,
.fa-save {
  color: #1cb6e0;
  font-size: 18px;
}
input {
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  background: #e1ecf2;
  box-shadow: inset 4px 4px 7px #c8d2d7, inset -4px -4px 7px #faffff;
  border-style: none;
  padding: 1rem;
  margin-top: 1em;
}
input:focus {
  outline: none;
}
#comment-date {
  padding: 0.5rem;
  color: rgb(83, 83, 83);
  margin: 0px;
}
.buttonsBox {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
@media all and (max-width: 601px) {
  #commentsInput {
    margin: 2rem 2rem;
    padding: 1rem;
  }
  input {
    font-size: 12px;
    padding: 0.5rem;
  }

  #commentInfo {
    width: 40vw;
  }

  .fa-chevron-left,
  .fa-save {
    font-size: 10px;
  }
}
</style>
