<template>
  <div id="contactDetails">
    <div id="detailsBox">
      <span class="spanName">{{ contact.name }}</span>
      <span class="spanFamilyName">{{ contact.familyName }}</span>
      <span class="spanTel">{{ contact.mobile }}</span>
      <span class="spanEmail">{{ contact.email }}</span>
    </div>
    <div id="buttonsBox">
      <button @click="goBack" class="cancel">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button @click="goToEditContact" class="edit">
        <i class="fas fa-edit"></i>
      </button>
    </div>
    <CommentList
      @go-to-add-comment-event="goToAddCommentScreen"
      @delete-comment-event="deletComment"
      @edit-details-event="editCommentDetails"
      :listOfComment="comments"
      :idContact="idContact"
    />
  </div>
</template>

<script>
import CommentList from "./CommentList.vue";

export default {
  name: "ContactDetails",
  components: {
    CommentList
  },
  props: {
    contact: { objecttype: Object, required: true },
    comments: { objecttype: Object, required: true },
    idContact: { objecttype: String, required: true }
  },
  data() {
    return {
      contactId: this.contact.id
    };
  },
  methods: {
    editCommentDetails(commentId) {
      this.$emit("edit-comment-event", commentId);
    },
    deletComment(commentId) {
      this.$emit("delet-comment-event", commentId);
    },
    goToAddCommentScreen() {
      this.$emit("go-to-add-comment-screen-event");
    },
    goToEditContact() {
      this.$emit("go-to-edit-contact-screene-vent");
    },
    goBack() {
      this.$emit("go-back-to-start-screen-even");
    }
  }
};
</script>

<style scoped>
#contactDetails {
  margin: 4vh 0rem;
  display: flex;
  flex-direction: column;
}
#buttonsBox {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
#detailsBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin: 1rem 25rem;
  padding: 1rem;
  border-radius: 10px;
  background: #e1ecf2;
  box-shadow: 14px 14px 38px #c8d2d7, -14px -14px 38px #faffff;
  font-size: 18px;
  color: rgb(83, 83, 83);
  font-weight: 600;
}
span {
  margin: 1rem 0rem 1rem 2rem;
}
button {
  border-style: none;
  margin: 5rem 8rem;

  padding: 1rem;
  border-radius: 10px;
  background: #e1ecf2;
  box-shadow: 6px 6px 11px #c8d2d7, -6px -6px 11px #faffff;
}
button:focus {
  outline: none;
}
.fa-chevron-left {
  padding: 0px 0.3rem;
}
.fa-chevron-left,
.fa-edit {
  color: #1cb6e0;
  font-size: 18px;
}
@media all and (max-width: 601px) {
  #detailsBox {
    margin: 0.5rem 2rem;
    padding: 0.5rem;
    font-size: 12px;
  }
  .fa-chevron-left,
  .fa-edit {
    font-size: 10px;
  }
}
</style>
