<template>
  <div id="editComment">
    <div class="inputsBox">
      <input
        maxlength="20"
        class="inputName"
        name="name"
        v-model="localComment.commentDate"
        type="text"
      />
      <input
        maxlength="20"
        class="inputSurname"
        name="surname"
        v-model="localComment.commentDetails"
        type="text"
      />
    </div>
    <div class="buttonsBox">
      <button @click="goBack" class="cancel">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button @click="saveEditCommentInfo" class="save">
        <i class="fas fa-save"></i>
      </button>
    </div>
  </div>
</template>

<script>
//import ContactDetails from "./components/ContactDetails.vue";

export default {
  name: "EditComment",
  props: {
    comment: { type: Object, required: true }
  },
  data() {
    return {
      localComment: {}
    };
  },
  watch: {
    comment: {
      immediate: true,
      handler: function() {
        this.localComment = JSON.parse(JSON.stringify(this.comment));
      }
    }
  },
  methods: {
    saveEditCommentInfo() {
      this.$emit("save-comment-event", this.localComment);
    },
    goBack() {
      this.$emit("go-back-to-contact-details-event");
    }
  }
};
</script>

<style scoped>
#editComment {
  margin: 10vh 0%;
  display: flex;
  flex-direction: column;
}
.buttonsBox {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
.inputsBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  font-family: sans-serif;
  font-size: 9px;
  text-align: left;
  padding: 4em;
  letter-spacing: 1px;
  color: rgb(83, 83, 83);
  border-radius: 10px;
  background: #e1ecf2;
  box-shadow: 30px 30px 59px #c8d2d7, -30px -30px 59px #faffff;
  margin: 0% 25rem;
}
input {
  font-weight: 600;
  color: rgb(83, 83, 83);
  font-size: 16px;
  border-radius: 10px;
  background: #e1ecf2;
  box-shadow: inset 4px 4px 7px #c8d2d7, inset -4px -4px 7px #faffff;
  border-style: none;
  padding: 1rem;
  margin-top: 1em;
}
input:focus {
  outline: none;
}
button {
  border-style: none;
  margin: 5rem 8rem;

  padding: 1rem;
  border-radius: 10px;
  background: #e1ecf2;
  box-shadow: 6px 6px 11px #c8d2d7, -6px -6px 11px #faffff;
}
button:focus {
  outline: none;
}
.fa-chevron-left {
  padding: 0px 0.3rem;
}
.fa-chevron-left,
.fa-save {
  color: #1cb6e0;
  font-size: 18px;
}
@media all and (max-width: 601px) {
  .inputsBox {
    margin: 2rem 2rem;
    padding: 1rem;
  }
  input {
    font-size: 12px;
    padding: 0.5rem;
  }

  .fa-chevron-left,
  .fa-save {
    font-size: 10px;
  }
}
</style>
